.project {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.project:hover {
    background-color: yellow;
    transform: rotate(0deg) skewX(45deg);
}

.project-title {
    font-size: 20px;
}